<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924722694431-7dt44o24jgikdejpgcanfofuu6jt6r1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924722694431-7dt44o24jgikdejpgcanfofuu6jt6r1v</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Cf8SZAVQqQO9WXa-kQ1XoGFWB4jvhPk</string>
	<key>GCM_SENDER_ID</key>
	<string>924722694431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agni</string>
	<key>PROJECT_ID</key>
	<string>connect-81717</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-81717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924722694431:ios:22b216943c0ae22575082a</string>
</dict>
</plist>